!!!5
html(class='wf-loading')
  head
    title KPIggyBank: Big pot o' Key Performance Indicator data

    link(rel='stylesheet', href='/css/style.css')
    script(src='http://use.typekit.com/apf1hll.js')
    script(src='/js/head.min.js')

  body

    a(href='http://github.com/jedp/kpiggybank', id='fork')
      img(src='/img/github.png')


    .container

      #header 
        h1 KPIggyBank

      #content

        != body

    script
      head.js(
        // {jquery:        "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"},
        {jquery:        "/js/jquery.min.js"},
        {noisy:         "/js/jquery.noisy.min.js"},
        {underscore:    "/js/underscore-min.js"},
        {backbone:      "/js/backbone-min.js"},
        {socket_io:     "/socket.io/socket.io.js"},
        {app:           "/js/client.js"}
      );

      // fight fout
      head.ready(function() {
        $('body').noisy();

        if (typeof Typekit != 'undefined') {
          try { 
              Typekit.load({
                  active: function() {
                      // it worked. carry on ...
                      $('html').addClass('wf-active').removeClass('wf-loading');
                  },
                  inactive: function() {
                      // it didn't work! drat ...
                      $('html').addClass('wf-inactive').removeClass('wf-loading');
                  }
              }); 
          } catch(e) {
              // probably want to fall back to no typekit
              $('html').addClass('wf-inactive').removeClass('wf-loading');
          }
        } else {
            // typekit js is unavailable; so set html to wf-inactive class
            $('html').addClass('wf-inactive').removeClass('wf-loading');
        }
      });
  
  
