#!/bin/sh
# kpiggybank env
#
# Make a local copy of this file (e.g., "env.sh") to modify.

# ----------------------------------------------------------------------
# couchdb config

export DB_BACKEND="couchdb"
export DB_HOST="127.0.0.1"
export DB_PORT="5984"

export DB_NAME="bid_kpi"
export DB_USER="kpiggybank"
export DB_PASS="kpiggybank"

# ----------------------------------------------------------------------
# kpiggybank server config

export HOST="127.0.0.1"
export PORT="3000"
export MODE="dev"

