#!/bin/sh
# kpiggybank env
#
# Make a local copy of this file (e.g., "env.sh") to modify.

# ----------------------------------------------------------------------
# couchdb config

export KPIG_COUCHDB_HOST="127.0.0.1"
export KPIG_COUCHDB_PORT="5984"

export KPIG_COUCHDB_DB="bid_kpi"
export KPIG_COUCHDB_USER="kpiggybank"
export KPIG_COUCHDB_PASS="kpiggybank"

# ----------------------------------------------------------------------
# kpiggybank server config

export KPIG_SERVER_HOST="127.0.0.1"
export KPIG_SERVER_PORT="3000"
export KPIG_SERVER_MODE="dev"

