#!/bin/sh
# kpiggybank env
#
# Make a local copy of this file (e.g., "env.sh") to modify.

# ----------------------------------------------------------------------
# couchdb config

export COUCHDB_HOST="127.0.0.1"
export COUCHDB_PORT="5984"

export COUCHDB_DB="bid_kpi"
export COUCHDB_USER="kpiggybank"
export COUCHDB_PASS="kpiggybank"

# ----------------------------------------------------------------------
# kpiggybank server config

export HOST="127.0.0.1"
export PORT="3000"
export MODE="dev"

